<Navbar-selector></Navbar-selector>

<div class="container">
<p-table #dt1 [value]="products" responsiveLayout="scroll" [rows]="10" [paginator]="true" 
[globalFilterFields]="['title','id','shortdescription','category','maincategory']" styleClass="p-datatable-gridlines" [loading]="loading">

    <ng-template pTemplate="caption">
        <div class="d-flex" style="justify-content: space-between;">
            <span>
                <button (click)="goAddProduct()" class="btn btn-primary"><fa-icon [icon]="faAdd"></fa-icon> Add Product</button>
            </span>
            <span class="p-input-icon-left ml-auto">
                <input pInputText type="text" (input)="applyFilterGlobal($event, 'contains')" placeholder="Search keyword" />
            </span>
        </div>
    </ng-template>

    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="id">Id <p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="title">Title <p-sortIcon field="title"></p-sortIcon></th>
            <th pSortableColumn="maincategory">Category <p-sortIcon field="maincategory"></p-sortIcon></th>
            <th pSortableColumn="price">Price <p-sortIcon field="price"></p-sortIcon></th>
            <th></th>
        </tr>
        
    </ng-template>
    <ng-template pTemplate="body" let-product>
        <tr>
            <td>{{product.id}}</td>
            <td>{{product.title}}</td>
            <td>{{product.maincategory}}</td>
            <td>{{product.price | currency : 'TRY '}}</td>
            <td><button (click)="goEdit(product.id)" class="btn btn-primary me-2"><fa-icon [icon]="faEdit"></fa-icon></button> <button class="btn btn-danger"><fa-icon [icon]="fadelete"></fa-icon></button> </td>
        </tr>
    </ng-template>
</p-table>
</div>

<Footer-selector></Footer-selector>