<Navbar-selector></Navbar-selector>

<div class="container mt-5"  *ngIf="products.length>0" style="height: 100vh; width: 100vw;">
    <table class="table" >
        <thead>
          <tr>
            <th scope="col">Product Title</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
            <th scope="col">Delete Product</th>
          </tr>
        </thead>
        <tbody > 
          <tr *ngFor="let item of products" >
            <td (click)="goProductDetails(item.id)" class="title">{{item.title}}</td>
            <td>{{item.price | currency:'TRY '}}</td>
            <td>
                <button [disabled]="item.quantity==1" (click)="decreaseQuantity(item)">-</button>
                <input type="number" value={{item.quantity}} id="number" disabled="false" min="0" max="100" style="width: 40px; text-align: center;"/>
                <button  (click)="increaseQuantity(item)">+</button>
            </td>
            <td><button (click)="deleteProduct(item.title)" class="btn btn-danger text-center"><fa-icon [icon]="faDelete"></fa-icon></button></td>
          </tr>
        </tbody>
      </table>
<h1>Total price: {{totalPrice | currency:'TRY '}}</h1>
<button (click)="setOrder()" class="btn btn-primary mb-5">Approval your order</button>
<button (click)="goHome()" class="btn btn-primary mb-5 ms-5">Back To Shopping</button>
<div *ngIf="showMessage" class="alert alert-success alert-dismissible fade show" role="alert">
  Your order is successful
</div>
</div>
  
  <div *ngIf="!(products.length>0)" class=" d-flex align-items-center justify-content-center" style="height: 100vh; width: 100vw;" >
    <div class="container w-25 ">
  <p>There are no items in your Shopping Card
  </p>
  <button (click)="goHome()" class="btn btn-primary ">Back To Shopping</button>
    </div>
  </div>

<Footer-selector ></Footer-selector>